// place your custom styles here
.hero-image .site-name {
    max-height: 300px; margin: 1rem auto; transition: transform 0.25s ease-in-out 0.04s, opacity 0.25s ease-in-out 0.04s; transform: translateY(0px); opacity: 1;
}

.description {
    color: #6C6969;
}

.blog-hero h1 {
    color: #6C6969;
}